<app-alert></app-alert>
<header
  class="admin-header"
  [ngClass]="{ light: !auth.isLogin(), dark: auth.isLogin() }"
>
  <nav class="navbar">
    <h1>
      <a [routerLink]="['/admin', 'dashboard']">Admin</a>
    </h1>
    <a [routerLink]="['/posts', '']">Posts</a>

    <ul *ngIf="auth.isLogin()">
      <li>
        <a [routerLink]="['/admin', 'dashboard']">Main</a>
      </li>
      <li>
        <a [routerLink]="['/admin', 'create']">Create</a>
      </li>
      <li>
        <a href="#" (click)="logout($event)"
          ><mat-icon fontIcon="logout"></mat-icon
        ></a>
      </li>
    </ul>
  </nav>
</header>
<section class="container">
  <router-outlet></router-outlet>
</section>
