a {
  color: black;
}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  .delete {
    color: red;
    margin-left: 10px;
  }
}

.input {
  margin-top: 2rem;
  width: 100%;
}
