@mixin fixed-header {
  width: 100%;
  position: fixed;
  z-index: 10;
}

@mixin flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin flex-centre {
  display: flex;
  align-items: center;
  justify-content: center;
}
