<header class="main-header">
  <h1>Cozy Corner</h1>
  <nav>
    <a [routerLink]="['/admin', 'login']">Admin</a>
  </nav>
</header>
<div class="container">
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="main-footer">
    <div class="main-footer-container">
      <div class="layout-wrap">
        <address class="info">
          <div class="element">
            <h6 class="element-header">Developed by:</h6>
            <p>Anton Kohnyuk</p>
          </div>
          <div class="element">
            <h6 class="element-header">Contacts:</h6>
            <p>anton.kohnyuk&#64;mail.ru</p>
          </div>
        </address>
      </div>
      <div class="line"></div>
      <div class="credits">
        <div class="credits-text">
          <p>2023, "CozyCorner"</p>
        </div>
      </div>
    </div>
  </footer>
</div>
