<section class="post">
  <div class="header">
    <h2>post title</h2>
    <button [routerLink]="['/']" class="btn btn-link">On main</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>12.03.2019</small>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores
      blanditiis ad veritatis, mollitia, qui vero ipsum similique, labore veniam
      placeat aut culpa voluptates ipsam sed praesentium assumenda perferendis
      quidem accusantium.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores
      blanditiis ad veritatis, mollitia, qui vero ipsum similique, labore veniam
      placeat aut culpa voluptates ipsam sed praesentium assumenda perferendis
      quidem accusantium.
    </p>
  </div>
</section>
